<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true">
  <variable name="logDirectory" value="${basedir}/Logs/${date:format=yyyyMMdd}"/>
  <variable name="exceptionoutput" value="${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=Type,Message}"/>
  <variable name="exceptionoutput2" value="${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=ToString}"/>
  <targets>
    <target xsi:type="AutoFlushWrapper" name="DDF">
      <target
        name="_DDF"
        xsi:type="File"
        fileName="${logDirectory}/DDF.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="SimulationDataFeed">
      <target
        name="_SimulationDataFeed"
        xsi:type="File"
        fileName="${logDirectory}/SimulationDataFeed.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="WCF">
      <target
        name="_WCF"
        xsi:type="File"
        fileName="${logDirectory}/WCF.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="SuperWebSockets">
      <target
        name="_SuperWebSockets"
        xsi:type="File"
        fileName="${logDirectory}/SuperWebSockets.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        autoFlush="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="DataServer">
      <target
        name="_DataServer"
        xsi:type="File"
        fileName="${logDirectory}/DataServer.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="CAP">
      <target
        name="_CAP"
        xsi:type="File"
        fileName="${logDirectory}/CAP.log"
        header="time|message|exception"
        layout="${time}|${message}|${exceptionoutput}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="unqualified">
      <target
        name="_unqualified"
        xsi:type="File"
        fileName="${logDirectory}/unqualified.log"
        header="time|logger|message|exception"
        layout="${time}|${logger}|${message}|${exceptionoutput2}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
    <target xsi:type="AutoFlushWrapper" name="MsgProc">
      <target
        name="_msgproc"
        xsi:type="File"
        fileName="${logDirectory}/msgproc.log"
        header="time|logger|message|exception"
        layout="${time}|${logger}|${message}|${exceptionoutput2}"
        deleteOldFileOnStartup="true"
        concurrentWrites="false"
        keepFileOpen="true" />
    </target>
  </targets>
  <rules>
    <logger name="DS" minlevel="Debug" writeTo="DataServer" final="true" />
    <logger name="DDF" minlevel="Debug" writeTo="DDF" final="true" />
    <logger name="Simulation DataFeed" minlevel="Debug" writeTo="SimulationDataFeed" final="true" />
    <logger name="WCF" minlevel="Debug" writeTo="WCF" final="true" />
    <logger name="SuperWebSockets" minlevel="Debug" writeTo="SuperWebSockets" final="true" />
    <logger name="CAP" minlevel="Debug" writeTo="CAP" final="true" />
    <logger name="MsgProc" minlevel="Debug" writeTo="MsgProc" final="true" />
    <logger name="*" minlevel="Debug" writeTo="unqualified" />
  </rules>
</nlog>